body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}

#content { /*Application will be 800 pixels wide and horizontally centered*/
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#room { /*CSS rules for area in which current room name is displayed*/
  background-color: #ddd;
  margin-bottom: 1em;
}

#messages { /*Message display area will be 690 pixels wide and 300 pixels high*/
  width: 690px;
  height: 300px;
  overflow: auto; /*Allows div in which messages are displayed to scroll when it’s filled up with content*/
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

#room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#room-list div:hover {
  background-color: #ddd;
}

#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}